.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black
}

.logo {
  width: 200px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.res-card {
  width: 200px;
  height: 300px;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
}

.search {
  padding: 10px
}

.res-logo {
  width: 100%;
}